<mat-card class="article-card" *ngIf="article" routerLink="/detailsPage">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-subtitle>{{article.section_name}}</mat-card-subtitle>
    <mat-card-title>{{article.headline?.main}}</mat-card-title>
    <mat-card-subtitle>{{article.pub_date  | date:'medium'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [style.opacity]="1" src="{{parseImage(article)}}" alt="{{article.title}}">
  <mat-card-content>
    <p>
      {{article.abstract}}
    </p>
  </mat-card-content>
  <!-- <mat-card-footer>
    <span class="article-type">{{article.section_name}}</span>
  </mat-card-footer> -->
</mat-card>
